Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 ='This is a test of the emergency text system'

In [2]:
f = open("test.txt",'w')

In [3]:
f.write(test1)

43

In [4]:
f.close()

Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
g = open("test.txt",'r')
test2 = g.readlines()
print(test2)

['This is a test of the emergency text system']

Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [6]:
import csv

In [7]:
rowlist =[['title','author','year'],
['The Weirdstone of Brisingamen','Alan Garner',1960],
['Perdido Street Station','China Miéville',2000],
['Thud!','Terry Pratchett',2005],
['The Spellman Files','Lisa Lutz',2007],
['Small Gods','Terry Pratchett',1992]]

In [8]:
with open('books.csv', 'w', newline='',encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerows(rowlist)

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [9]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\harish\anaconda3\lib\site-packages (8.0.24)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\harish\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.0)
Requirement already satisfied: six>=1.9 in c:\users\harish\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import mysql.connector as mysql

In [11]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Data@2021"
)

In [12]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001744DD5EFA0>

In [ ]:
cursor = db.cursor()
cursor.execute("CREATE DATABASE books_db")

In [14]:
cursor.execute("SHOW DATABASES")
databases = cursor.fetchall()
for database in databases:
    print(database)

('ari123',)
('books_db',)
('carbon',)
('hari123',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [15]:
db.close()

In [16]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Data@2021",
    database = 'books_db'
)

In [17]:
cursor = db.cursor()

In [18]:
cursor.execute("SHOW TABLES")

In [19]:
tables = cursor.fetchall()
for table in tables:
    print(table)

In [20]:
cursor.execute("CREATE TABLE books (title CHAR(25), author CHAR(25),year INT(4))")

In [21]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
for table in tables:
    print(table)
    
db.close()

('books',)

Read books.csv and insert its data into the book table

In [22]:
import pandas as pd
books = pd.read_csv('books.csv', index_col=False, delimiter = ',')
books.head()

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [29]:
try:
    conn = mysql.connect(host='localhost', database='books_db', user='root', password='Data@2021')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS books;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE books (Title VARCHAR(255), Author VARCHAR(255),Year INT(4))")
        print("Table is created....")
        #loop through the data frame
        for i,row in books.iterrows():
            #here %S means string values 
            sql = "INSERT INTO books_db.books VALUES (%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('books_db',)
Creating table....
Table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

Select and print the title column from the book table in alphabetical order.

In [41]:


sql = "SELECT Title FROM books ORDER BY Title DESC"
cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

('Thud!',)
('The Weirdstone of Brisingamen',)
('The Spellman Files',)
('Small Gods',)
('Perdido Street Station',)

From the book table, select and print all columns in the order of publication

In [43]:
sql = "SELECT * FROM books ORDER BY Year ASC"
cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)